font-color:"Black"
font-type:"Arial"
font-size:12px

background-image:"dirtyharry16.github.io/bgimage.jpg";

<div style="width:100%;">
Header
<div style="float:left; width:20%;">
Left
</div>
<div style="float:left; width:80%; margin-left:10px;">
Right  
</div>
<div>
Footer
</div>
</div>
