font-color:"Black"
font-type:"Arial"
font-size:12px

background-image:"dirtyharry16.github.io/bgimage.jpg";

.top {
width:100%
height:25%	

}

.side {
    width: 25%;
    float: left;
    padding-left:50px
}
.body {
    width: 75%;
    float: left;
	padding-left:50px
}
